#Data Files
*.csv
*.xlsm
*.dat
*.ods

#Image Files
*.png

#Complied Python
__pycache__/
*.pyc

#LaTeX Files
*.bak
*.lof
*.lot
*.toc
*.pyg
*.tex
*.log
*.blg
*.dvi
*.aux
*.synctex.gz
*.pdf

#Temp Files
*#
~*

#Virtual Environment
venv/